* {font-family: Arial, Helvetica, sans-serif;
    font-size:  16px;

}
 body {
    background-color: #ad22fd;

}

main {
    background-color: #fff;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #000;
}
h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
img.lado {
    float: right;
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    
}
img.topo {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
   
    
}
h2.JS {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    
}
img.pg2 {
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
}